/* || General setup */
* {
  box-sizing: border-box;
}

/* 바꿀 부분:
1. footer 없애고 navbar에 contact 추가하기
2.  */

html {
  scroll-behavior: smooth;
  scroll-padding-top: 15rem;
  /* 헤더가 fixed라서 헤더 부분이 a 태그 눌러서 스크롤해서 이동한 부분의 위쪽을 가려버림. 이 문제를 해결하기 위해 이 코드를 적었다 */
  /* 현재 버그: 작은 화면에서 a태그 클릭하면 정확한 위치로 이동하는데, 큰 화면에서 a 태그 클릭해서 이동하면 해당 섹션 위쪽이 너무 많이 보임. */
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  position: relative;
  background-color: #eceff1;
  color: #263238;
}

img {
  max-width: 100%;
  display: block;
}

/*=========================
    Typography
  =========================*/

h1 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 2.5rem;
  margin: 0;
}

p {
  margin: .25em;
}

.dark-mode {
  background-color: #212121;
  color: white;
}

/* Header */

.dark-mode header {
  background-color: #212121;
  color: white;
}

.day-night-toggle {
  margin-right: .5em;
  font-size: 40px;
  color: #1a237e;
  cursor: pointer;
}

nav a:hover,
nav a:focus {
  color: #534bae;
}

.dark-mode nav a:hover,
.dark-mode nav a:focus {
  color: #d1d9ff;
}

.navbar-item {
  padding: .25em 0;
}

.navbar-item-list a {
  text-decoration: none;
  font-weight: 600;
  color: #263238;
}

@media (min-width: 769px) {
  .navbar-item {
    padding-left: 1.5em; /* 작은 화면에서 navbar 항목이 세로 정렬됐을 땐 padding-left가 필요 없어서(padding-left 있으면 항목이 가로 중앙이 아니라 약간 오른쪽에 위치함) 큰 화면일 때만 padding-left를 줬다. */
  }
}

.dark-mode nav a {
  color: white;
}

/* Main */

.home-profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* contact 버튼 */

.home-section-contact { 
  background-color:#4f5b62;
  border-radius: 4px;
  border: solid 1px lavender;
  font-size: 1.2rem;
  cursor: pointer;
  color: white;
  padding: .5em 1em;
}

/* Main - Home */

.home-section-contact a {
  color: white;
  text-decoration: none;
}

.home-section-contact:hover,
.home-section-contact:focus {
  background-color: #1a237e;
}

/* Main - Skills */

.skills-lists li {
  padding: 1em 1.5em;
  border: 1px solid gray;
  text-align: center;
}

/* Main - Projects */

.project-image {
  max-height: 300px; /* 왼쪽 이미지 세로가 너무 길어서 처음엔 max-height:250px로 설정했는데, 왼쪽 이미지가 250px이 됐을 때 오른쪽은 높이가 250px이 안 돼서 그 아래에 있는 글귀 위치도 달라서 보기가 안 좋았다. 두 이미지 높이가 같아야 보기 깔끔해서 height를 250px으로 고정함 */
  width: 50%;/* 어떤 프로젝트든 이미지 너비가 고정되어 있었으면 해서 */
  margin: 0 auto;
  object-fit: cover; /* 화면 작아졌을 때 오른쪽 이미지 가로 찌그러지지 않도록 */
  object-position: left; /* 이렇게 해야 오른쪽 이미지 내용(안의 글귀)이 잘 보여서 왼쪽을 보이게 했다. */
}

/* Footer */

footer a {
  color: white;
  text-decoration: none;
}

/*=========================
    Layout
  =========================*/

.container {
  width: 90%;
  margin: 0 auto;
  /* border: 1px solid magenta; */
}

/* Header */
header {
  position: fixed;
  background-color: #eceff1; /* 배경색을 안 줬더니 스크롤 내리면 다른 텍스트가 뒤에 다 보였다(헤더가 투명했음). fixed 요소라 body 배경색이 적용이 안 됐던 것 같다. 그런데 header 배경색을 따로 지정하지도 않아서 배경색이 없었음 === 투명했음 */
  width: 100%;
  padding: 1em 0;
  box-shadow: 0 0 7px rgb(0 0 0 / 20%);
  /* border: 1px solid blue; */
}

.container-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav {
  display: none;
}

nav.visible { /* 버거 버튼 누르면 네비게이션 보이게 */
  display: block;
}

.navbar-item-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  list-style: none;
}

.site-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-toggle-btn {
  position: absolute;
  top: 4px; /* 화면 작아져도 제목과 최대한 안 겹치도록 오른쪽 위 구석에 놓음*/
  right: 10px;
  cursor: pointer;
  /* width 768px 초과일 땐 안 보이게(공간 충분하니 보일 필요 없다) */
}

@media (min-width: 769px) {
  .container-nav { /* navbar를 제목과 같은 선상에 가로 배치 */
    flex-direction: row;
    justify-content: space-between;
  }
  
  nav { /* navbar 항상 보이게 */
    display: block;
  }

  .navbar-item-list { /* navbar 항목 가로 정렬 */
    flex-direction: row;
  }

  .navbar-toggle-btn { /* 토글할 필요 없으니 토글 버튼 안 보이게 */
    display: none;
  }
}

/* Main */

/* Main - Home */

main section {
  padding-top: 3em; /* main 안에 있는 section간 위 아래 간격 확보 */
  /* border: 1px solid pink; */
}

.home-section { /* fixed인 navbar에 윗 부분이 가려지지 않도록 */
  padding-top: 8em;
}

.home-section-main {
  margin-bottom: 1.5em; /* contact me 버튼 위쪽 공간 확보 */
}

/* Main - Skills */

.skills-lists {
  display: grid; /* 박스 만들어서 한줄에 몇 개씩 2줄로 배치하게 -> grid로 바꾸자 */
  list-style: none;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  row-gap: .5em;
  padding-left: 0;
}

/* Main - Projects */

.project-lists {
  display: flex;
  flex-direction: column;
  list-style: none;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  row-gap: .5em;
  margin-bottom: 5em; /* 아랫부분이 footer에 가려지지 않게 */
  padding-left: 0;
}

.project-list-item { /* 각 프로젝트 사진, 제목, 링크 정렬*/
  display: flex;
  align-items: center;
}

.project-list-item-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  padding: 0 2em;
}

.project-list-item a {
  text-decoration: none;
  color: #1a237e;
}

.project-list-item a:focus,
.project-list-item a:hover {
  color: #534bae;
}

.project-list-item-description {
  margin-top: 1em;
  text-align: center;
}

.arrow-up {
  position: fixed;
  bottom: 100px;
  right: 10px;
  width: 50px;
  height: 50px;
  font-size: 2rem;
  border-radius: 50%;
  border: 1px solid rgb(160, 159, 154);
  cursor: pointer;
  text-align: center;
  display: none; /* JS로 처리함. 처음엔 화살표 안 보이고 어느 정도 스크롤바 내린 다음에 visible 클래스 추가해서 아래에 적은 스타일 적용되게 */
}

.arrow-up.visible { /* JS로 처리할 예정(visible 클래스가 있을 때 보이게) */
  display: block;
}

.arrow-up.visible:hover {
  background-color:#d1d9ff;
}

/* Footer */

footer {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1a237e;
  padding: .5em 1em;
  bottom: 0;
  width: 100%;
}