/* || General setup */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

html {
  font-size: 16px;
  height: 100vh;
}

body {
  max-width: 100%;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  height: 70px;
  background-color: #1d70b8;
  color: white;
}

h1 {
  /* flex-grow: 1;<h1> 엘리먼트는 <header> 엘리먼트의 여유 공간을 독차지 하게 되어, 네비게이션이 우측으로 밀려나는 효과가 생기게 됩니다. */
  font-size: 3rem;
  text-align: center;
  padding: 10px 10px;
}

nav {
  width: 40%;
  height: 100%; /* nav의 부모인 header 높이를 지정 안해줬을 땐 %로 값 지정하면 안 먹고 픽셀로 입력할 때만 됐다. 왜냐구? 부모의 높이가 안 나와 있으니까 %(부모의 몇 % 이런 식이니까)를 쓸 수 없었던 것이다. 부모의 높이를 지정해 주니까 % 값도 잘 먹는다. width도 지정 안해줬지만 header 태그는 block element니까 가로 꽉찬 길이가 header의 길이이므로 가로값이 있다고 본 것 같다 */
}


nav a,
nav span {
  display: block;
  height: 100%;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  color: white;/* a 태그는 기본적으로 요상한 보라색이라서 색깔 따로 안 주면 그 색 되는 듯. 그래서 하얀색 줬다. */
  padding: 10px;/* padding 대신 margin을 주면 margin 공간은 클릭했을 때 색이 안 변한다(당연함. element가 아니라 margin이니까) */
}


ul {
  list-style-type: none;
  height: 100%;
}

li {
  height: 100%;
  width: 100%;
  text-align: center;
}


.menu-items {
  display: flex;
  justify-content: space-around;
}

nav a {
  font-size: 1rem;
  height: 70px;
  line-height: 40px;/* 흠 이렇게 눈대중으로 픽셀값 주는 거 맘에 안 들지만 우선 임시로 이렇게 해 놓고 넘어가자 */
}

main {
  height: 50%;
}

main p {
  font-size: 1.4rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 0 20px 0;
  background-color: #1d70b8;
}

footer:hover {
  background-color:#6aa9e0;
  transition: transform 0.5s;
}

footer p a {
  color: white;
  text-decoration: none;
}

footer p {
  margin: 4px;
  padding-left: 10px;
}

.active-item {
  font-weight: 700;
  background-color:#6aa9e0;
  color: #f3f2f1;
}

.menu-items li {
  cursor: pointer;
}

.hidden {
  display: none;
}

